<div
  id="circle-orbit-container"
  class="relative m-auto mt-2 mb-5 h-[200px] w-[200px]"
>
  {/* Inner orbit */}
  <div
    class="absolute top-1/2 left-1/2 h-[100px] w-[100px] -translate-x-1/2 -translate-y-1/2 transform rounded-full border border-dashed border-slate-500"
  >
    <p
      class="dm-sans absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transform text-lg"
    >
      <span class="font-semibold text-teal-600">Wish</span><span
        class="font-normal text-slate-500">yor</span
      >
    </p>
  </div>

  {/* Middle orbit (macOS) */}
  <div
    class="absolute top-1/2 left-1/2 h-[150px] w-[150px] -translate-x-1/2 -translate-y-1/2 transform rounded-full border border-dashed border-slate-400"
  >
    <svg
      class="absolute -bottom-2 size-14 text-slate-600"
      fill="currentColor"
      role="img"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
    </svg>
  </div>

  {/* Outer orbit (ARM) */}
  <div
    class="absolute top-1/2 left-1/2 h-[200px] w-[200px] -translate-x-1/2 -translate-y-1/2 transform rounded-full border border-dashed border-slate-300"
  >
    <svg
      class="absolute right-0 size-12 text-slate-500"
      fill="currentColor"
      role="img"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
  
    </svg>
  </div>
</div>
